@import "../../../../Sass/Variables";

.Hours {
    display: flex;
    flex-direction: column;

    .times {
        display: flex;
        justify-content: space-between;
        font-size: $font-large;
    }

    .day {
        padding-right: 1rem;
    }
}
