$primary: #5268c2;
$primary-white: #ffff;
$primary-grey: lightgrey;
$primary-black: black;

$font-normal: 1rem;
$font-large: 1.3rem;
$font-larger: 1.5rem;
$font-Xl: 1.75rem;

$theme-colors: (
    primary: $primary,
);

@import "bootstrap";
