@import "../../../Sass/Variables";

.StoreCalendarWeekly.card {
    display: flex;
    flex-wrap: wrap;
    background: rgba(#fff, 0.9);
    margin-bottom: 0.5rem;
    max-width: 50rem;
    align-items: stretch;
    justify-content: space-between;

    .header {
        background: rgba($primary, 1);
    }

    .title {
        text-transform: capitalize;
        font-size: $font-larger;
        padding-top: 1rem;
    }

    .week {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: space-between;
    }
}
