@import "../../../../Sass/Variables";

.StoreCalendarDay.card {
    display: flex;
    flex-wrap: wrap;
    margin: 0.3rem;
    align-items: stretch;
    width: 17rem;
    margin: 0rem 1rem 1rem 1rem;

    .event {
        text-transform: capitalize;
        font-size: $font-normal;
    }

    .day {
        text-transform: capitalize;
        font-size: $font-large;
    }
}
