.App {
    width: 100vw;
    height: 100vh;
    background-image: url("../../Assets/Images/image.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    background-position: left;
}
