.App {
    width: 100vw;
    height: 100vh;
    background-image: url("../../Assets/Images/Backgrounds/ReversedDefaultBack.png") !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    background-color: white;
}
