.PhoneNumbers.card {
    background: rgba(white, 0.8);

    .header {
        font-size: 1.5rem;
    }

    .numbers {
        display: flex;
        flex-direction: column;
    }

    .store {
        display: flex;
        margin-bottom: 1rem;
        font-size: 1.3rem;
    }

    .number {
        padding-left: 1rem;
    }

    .name {
        text-transform: capitalize;
        font-size: 1.3rem;
    }

    .isopen {
        margin-left: 1rem;
    }

    .text {
        font-size: 1.3rem;
    }
}
