.MeetTeam {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    height: 100%;
    overflow: scroll;

    &::-webkit-scrollbar {
        display: none;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}
