@import "../../../Sass/Variables";

.StoreCalendarWeekly.card {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
    max-width: 50rem;
    align-items: stretch;
    background: rgba(white, 0.8);
    overflow: scroll;

    &::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 1px;
        height: 5px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 3px;
        background-color: rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    }

    .header {
        background: rgba($primary, 1);
    }

    .title {
        text-transform: capitalize;
        font-size: $font-larger;
        padding-top: 1rem;
    }

    .week {
        display: flex;
    }
}
