.Home {
    padding-top: 9rem;
    padding-bottom: 3rem;
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: center;

    .storeCards-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none; /* Firefox */
    }

    .storeCards-container::-webkit-scrollbar {
        display: none;
    }
}
