@import "../../../Sass/Variables";

.StoreInformation {
    .location-container {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        text-decoration: none;
        color: black;
    }

    .location-container:hover {
        text-decoration: underline;
        color: blue;
    }

    .locationIcon {
        height: 3rem;
    }

    .location {
        font-size: 1.2rem;
    }

    .Title {
        text-transform: capitalize;
        font-size: 1.75rem;
    }
}
