@import "../../Sass/Variables";

.NavBar.navbar {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    background: rgba($primary, 0.8);
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;

    .logo {
        margin-top: 3.5rem;
    }

    .image {
        width: 18rem;
        padding: 0;
        margin: 0;
    }

    .tabs {
        display: flex;
        width: 30rem;
        justify-content: space-between;
    }

    .tab {
        font-size: 1.75rem;
        font-weight: 700;
        transition: all 0.5s;

        &:hover {
            background: url("../../Assets/Images/Backgrounds/background-1884703.jpg")
                0 0 repeat;
            background-size: cover;
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }
    }
}
