@import "../../Sass/Variables";

.NavBar.navbar {
    height: 5rem;
    background: rgba($primary, 0.8);

    .image {
        max-width: 10rem;
        width: fit-content;
        height: auto;
    }

    .tabs {
        display: flex;
        width: 24rem;
        justify-content: space-between;
    }

    .tab {
        font-size: 1.75rem;
        font-weight: 700;
        transition: all 0.5s;

        &:hover {
            background: url("../../Assets/Images/Backgrounds/background-1884703.jpg")
                0 0 repeat;
            background-size: cover;
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }
    }
}
