@import "../../Sass/Variables";

.NavBar.navbar {
    height: 8rem;
    background: rgba($primary, 0.8);

    .image {
        max-width: 15rem;
    }

    .tabs {
        display: flex;
        width: 24rem;
        justify-content: space-between;
    }

    .tab {
        font-size: 1.75rem;
        font-weight: 700;
        border-bottom: 2px solid $primary-black;

        &:hover {
            color: lightgray;
            border-bottom: 2px solid $primary-grey;
        }
    }
}
