.TeamMembers {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    padding-bottom: 4rem;
    width: 70%;

    .title {
        display: flex;
        justify-content: center;
        padding-top: 5rem;
        margin-bottom: 1rem;
        width: 90%;
        border-bottom: 2px solid black;
        text-shadow: 1px 1px 10px lightgray;
    }

    .team {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 6rem;
    }
}
