.StoreInformation {
    .location-container {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
    }
    .locationIcon {
        height: 3rem;
    }

    .location {
        font-size: 1.1rem;
    }

    .Title {
        text-transform: capitalize;
    }
}
