@import "../../../Sass/Variables";

.StoreCard.card {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    background: rgba(#fff, 0.95);
    box-shadow: 2px 3px 10px $primary-black;

    .card-body {
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .icon {
        max-width: 12rem;
    }

    .Buttons {
        display: flex;
    }

    .cardButton {
        width: 10rem;
        margin-right: 1rem;
    }
}
