@import "../../../Sass/Variables";

// .container {
//     overflow: scroll;
//     height: fit-content;
// }

.StoreCard.card {
    display: flex;
    flex-direction: row;
    background: rgba(white, 0.85);
    box-shadow: 2px 3px 10px $primary-black;
    margin-bottom: 4rem;

    .card-body {
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .icon {
        max-width: 14rem;
        height: auto;
    }

    .Buttons {
        display: flex;
    }

    .cardButton {
        width: 10rem;
        margin-right: 1rem;
    }
}
